<div class=container>
	<div class="panel panel-default">
		<div class="panel-heading">
			<a
				href=""
				editable-text="home.feature.name">{{ home.feature.name ||
				'empty' }}</a>
		</div>
		<div class="panel-body">

			<a
				href=""
				editable-textarea="home.feature.description"
				e-rows="7"
				e-cols="100"> {{ home.feature.description || 'no description' }}
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">

			<div ng-repeat="scenario in home.feature.scenarios" ng-init="t=$index">
				<div class="panel panel-default">

					<div class="panel-heading form-inline">
						<a
							href=""
							editable-text="scenario.name"
							e-rows="7"
							e-cols="100"> {{ scenario.name || 'no description' }}</a>
						<button
							type="button"
							class="close"
							ng-click="home.feature.scenarios.splice($index, 1)"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<ul
						dnd-list="scenario.steps"
						class="list-group">
						<li
							ng-repeat="step in scenario.steps"
							class="list-group-item"
							dnd-draggable="step"
							dnd-moved="home.feature.scenarios[t].steps.splice($index, 1)"
							dnd-effect-allowed="move"><a ng-bind-html="step.desc" editable-text="step.desc" ></a>
							<button
								type="button"
								class="close"
								ng-click="scenario.steps.splice($index, 1)"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button></li>

					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="panel panel-primary">
				<div class=panel-heading>Available Steps</div>
				<ul class="list-group">
					<li
						ng-repeat="step in home.steps"
						class="list-group-item"
						dnd-draggable="step"
						dnd-effect-allowed="move">{{step.desc}}</li>
				</ul>
			</div>
		</div>
	</div>
	<button
		class="btn"
		ng-click="home.openLeftSlider()">Open Left panel</button>
	<button
		ng-click="home.addMoreScenario()"
		class="btn btn-primary">Add Another Scenario</button>
	<button
		class="btn btn-primary"
		ng-click="home.upload(home.feature)">Save</button>

</div>

