<div class=container-fluid>
	<nav class="navbar navbar-default">
		<div class="container-fluid">

			<a
				class="navbar-brand"
				href="#">Cucumber UI</a>
			<form
				class="navbar-form navbar-right"
				role="search">
				
				<button
					class="btn btn-primary"
					ng-click="home.showConf()">Page Objects</button>
			</form>

		</div>
	</nav>

	<div class=row>

		<div class="col-sm-3">
			<!-- Feature list panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					Feature list <a ng-click="home.addNewFeature()"><span
						class="glyphicon glyphicon-plus pull-right"
						aria-hidden="true"></span></a>
				</div>
				<div class="list-group">
					<a
						href=""
						class="list-group-item"
						ng-class="{'active':feature==home.feature}"
						ng-repeat="feature in home.features"
						ng-click="home.feature=feature">{{feature.name}}

						<button
							type="button"
							class="close"
							ng-click="home.deleteFeature(feature)"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</a>
				</div>
			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading">Scenarios <a ng-click="home.addNewScenario()"><span
						class="glyphicon glyphicon-plus pull-right"
						aria-hidden="true"></span></a></div>
				<ul class="list-group" >
					<li class="list-group-item" ng-init="home.scenario=home.feature.scenarios[0]" ng-class="{'active':home.scenario==scenario}" ng-click="home.scenario=scenario" ng-repeat="scenario in home.feature.scenarios">{{scenario.name}}</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-9">
			<!-- Feature name and description panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<span>{{ home.feature.name || 'empty' }}</span> <a
						href=""
						ng-click="home.runFeature(home.feature.name)"><span
						class="glyphicon glyphicon-play-circle"
						aria-hidden=true></span></a>
						
						 <a
						href=""
						ng-click="home.upload(home.feature)"><span
						class="glyphicon glyphicon-floppy-disk pull-right"
						aria-hidden=true></span></a>
				</div>
				<div class="panel-body">

					<a
						href=""
						editable-textarea="home.feature.description"
						e-rows="7"
						e-cols="100"> {{ home.feature.description || 'no description'
						}} </a>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<!-- scenario panel -->

					<div class="panel panel-default">
						<div
							class="panel-heading form-inline"
							>

							<a
								href=""
								editable-text="home.scenario.name"> {{ home.scenario.name || 'no
								description' }}</a>
								
						<a
						href=""
						ng-click="home.runScenario(home.scenario.name)"><span
						class="glyphicon glyphicon-play-circle"
						aria-hidden=true></span></a>
						    <a
								href=""
								class="text-danger pull-right"
								ng-click="home.deleteScenario(home.scenario)">Delete</a>
						</div>
						<ul
							
							dnd-list="home.scenario.steps"
							class="list-group">
							<li
								ng-repeat="step in home.scenario.steps"
								class="list-group-item"
								dnd-draggable="step"
								dnd-moved="home.scenario.steps.splice($index, 1)"
								dnd-effect-allowed="move">{{step.type}}<a
								editable-text="step.step"> {{step.step}}</a>
								<button
									type="button"
									class="close"
									ng-click="home.scenario.steps.splice($index, 1)"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button></li>
						</ul>
					</div>

				</div>
				<div class="col-sm-6">
				<!-- available steps panel -->
					<div class="panel panel-default" id="availableSteps">
						<div class=panel-heading>Available Steps</div>
						<div class="panel-body">
							<input type="text" placeholder="Search Steps" ng-model="searchText.step" class="form-control" />
							<button
							type="button"
							class="close input"
							ng-click="searchText.step=''"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						</div>
						<ul class="list-group">
							<li
								ng-repeat="step in home.steps|filter:searchText"
								class="list-group-item"
								dnd-draggable="step"
								dnd-effect-allowed="move"><span
								class="label pull-right"
								ng-class="{	'label-primary':step.fileName.length%3==0,
											'label-info':step.fileName.length%3==1,
											'label-success':step.fileName.length%3==2}">{{step.fileName}}</span> <span
								class="label label-default">{{step.type}}</span> {{step.step}}</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div
		class="panel panel-default"
		id="logs"
		ng-show="home.message">
		<div class="panel-heading">
			Running feature <a
				href="/e2e"
				target="blank"
				ng-show="home.showReport">Show Report</a>
		</div>
		<div class="panel-body">
			<pre>{{home.message}}</pre>
		</div>
	</div>
</div>



<script
	type="text/ng-template"
	id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Create a New Feature file</h3>
        </div>
        <div class="modal-body form-inline">
            Feature Name: <input type="text" class="form-control" ng-model=feature.name>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>